/* I added some repetetive styles via root so if I need to change anything, I can change it in one place. */
:root{
    --app-bg: rgb(7, 88, 126);
    --app-bg-lighter: rgb(10, 112, 180);
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--app-bg);
    color: var(--white);
}

/* Targetted all h2 and added the same margin, font-size and text position. */
h2{
    margin-top: 50px;
    font-size: 40px;
    text-align: center;   
}

.info-nav{
    padding: 20px;
    background-color: var(--app-bg-lighter);
}

/* Added flex and justify-content so I can space evenly the nav bar lists. */
.info-nav > ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;   
    
}

.info-nav > ul > li{
    font-size: 24px; 
}

/* had to add none for text-decoration since by default the anchor tag provides line underneath. */
a{
    text-decoration: none;
    color: var(--white);
}

h1{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 50px; 
}

h1 > span{
    color: lightsteelblue;
}

.design-name{
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

/* Added the opacity to match the brightness of the page with the background image. */
#homeSection{
    background-image: url("./../images/background.png");
    min-height: 600px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 60%;
    margin: auto 50px;
    border-style: groove;
}

#aboutMeSection {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 20px;
}

#aboutMeSection p{
    max-width: 800px;
    text-align: center;
    margin-top: 20px;
   
}

#aboutMeSection hr{
    width: 400px;
    margin-top: 20px;
}

/* Added space between so my projects can have distance between them */
.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.projects-container > article{
    position: relative;
    padding: 10px;
    border: solid 2px rgb(79, 155, 241);
}

/* Had to add opacity so when we hover over the project img it can look slightly brighter from regular brightness to add focus. */
.projects-container > article img{
    width: 100%;
    opacity: 0.75;
}

.project-info{
    position: absolute;
    font-size: 16px;
    padding: 20px;
    background-color: rgba(14, 178, 243, 0.7);
    text-align: center;
    z-index: 2;
}

.project-info > h3{
    font-size: 20px;
}

#projectsSection > .projects-container{
    margin-top: 30px;
}

/* Had to add opacity so when we hover over the project img it can look slightly brighter to add focus. */
.projects-container article:hover > a > img {
    opacity: 1;
}

.contact-me-info {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.contact-me-info > article{
    padding: 50px 100px;
    text-align: center;
}

/* Added border to left & right using nth-child to seperate the contact-me section and add a bit style to it. */
.contact-me-info > article:nth-child(2){
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.contact-me-info > article > img{
    width: 50px;
    margin-top: 20px;
}

.contact-me-info > article > p{
    margin-top: 20px;
    font-size: 16px;
}

footer{
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    border-top: 1px solid lightgray;
}

/* Added max-width to 600px via media quiery so the page can be responsive and properly displayed even after the screen goes to a smaller device, eg: phone, ipad. */
@media screen  and (max-width: 600px){
    #homeSection{
        margin: auto 0px;
    }

    .info-nav > ul{ 
        flex-direction: column;
        align-items: center;
    }

    .contact-me-info{
        flex-direction: column;
        align-items: center;
    }

    .contact-me-info > article:nth-child(2){
       border: none;
    }

    .projects-container{
       flex-direction: column;
    }
    
    .projects-container > article{
        flex-basis: 100%;
        padding:5px;
    }



}