:root{
    --app-bg: rgb(7, 88, 126);
    --app-bg-lighter: rgb(10, 112, 180);
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--app-bg);
    color: var(--white);
}

h2{
    margin-top: 50px;
    font-size: 40px;
    text-align: center;   
}

.info-nav > ul{
    display: flex;
    list-style: none;
    justify-content: center;   
    background-color: var(--app-bg-lighter);
}

.info-nav > ul > li{
    padding: 15px 120px;
    font-size: 24px; 
    background-color: var(--app-bg-lighter);
}

a{
    text-decoration: none;
    color: var(--white);
}

h1{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 50px; 
}

h1 > span{
    color: lightsteelblue;
}
.main-name{
    margin-left: 1000px;
    font-size: 15px;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#homeSection{
    background-image: url(/assets/images/backdrop.img.JPG);
    height: 600px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 60%;
    margin-right: 50px;
    margin-left: 50px;
    border-style: groove;
}

#aboutMeSection {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 20px;
}

#aboutMeSection p{
    width: 800px;
    text-align: center;
    margin-top: 20px;
   
}

#aboutMeSection hr{
    width: 400px;
    margin-top: 20px;
}


.projects-container{
    display: flex;
    justify-content: space-between; 
}

.projects-container > article{
    flex-basis: 48%;
    position: relative;
    height: 300px;
    overflow: hidden;
    border: solid 2px rgb(79, 155, 241);
}


.projects-container > article img{
    width: 100%;
    opacity: 0.75;
}

.project-info{
    position: absolute;
    font-size: 16px;
    padding: 20px;
    background-color: rgba(14, 178, 243, 0.5);
    text-align: center;
    z-index: 2;
}

.project-info{
    background-color: rgba(14, 178, 243, 0.5);
}

.project-info > h3{
    font-size: 20px;
}

#projectsSection > .projects-container{
    margin-top: 30px;
}

.projects-container article:hover > img {
    opacity: 1;
}

.contact-me-info {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.contact-me-info > article{
    padding: 50px 100px;
    text-align: center;
}

.contact-me-info > article:nth-child(2){
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.contact-me-info > article > img{
    width: 50px;
    margin-top: 20px;
}

.contact-me-info > article > p{
    margin-top: 20px;
    font-size: 16px;
}

footer{
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    border-top: 1px solid lightgray;
}